* {
  font-family: "Roboto", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(217, 224, 233);
}

#sidebar {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#profile_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 3px solid white;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_name {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.my-navlink {
  color: rgb(61, 61, 61);
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.my-navlink:hover {
  color: #0d6efd;
}

.social_links {
  margin-top: 20px;
  display: flex;
  gap: 25px; /* Adds space between the icons */
}

.my-social {
  color: rgb(61, 61, 61);
  text-decoration: none;
  font-size: 35px; /* Adjust the size of the icons */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.my-social:hover {
  color: #0d6efd;
}

.my-download {
  color: rgb(61, 61, 61);
  border-color: rgb(61, 61, 61);
  text-decoration: none;
}

.my-download:hover {
  color: #0d6efd;
  background-color: transparent;
}

main {
  background-color: white;
}

.content {
  padding: 5%;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    height: 100vh;
    width: 300px;
  }

  .content {
    margin-left: 300px;
    padding-right: 15%;
  }
}
